
#section-5 {

    text-align: center;

    .section-title,
    .section-subtitle {
        color: #000;
    }

    .items-box {

        .box-item-1 { grid-area: box-item-1 };
        .box-item-2 { grid-area: box-item-2 };
        .box-item-3 { grid-area: box-item-3 };
        .box-item-4 { grid-area: box-item-4 };
        .box-item-5 { grid-area: box-item-5 };
        .box-item-6 { grid-area: box-item-6 };

        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 350px 350px;
        grid-template-areas: 
            'box-item-1 box-item-2 box-item-3'
            'box-item-4 box-item-5 box-item-6';

        > div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .circle {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                i { font-size: 60px; }
            }

            h2 {
                
            }
            p {}
        }
        > div:nth-child(-n+3) {
            .circle { border: 4px $color_primary solid; }
            i { color: $color_primary; }
        }
        > div:nth-last-child(-n+3) {
            .circle { border: 4px $color_secondary solid; }
            i { color: $color_secondary; }
        }

    }

}

@include responsive_tablet  {
    #section-5 .items-box {
        grid-template-columns: 50% 50%;
        grid-template-rows: 350px 350px 350px;
        grid-template-areas: 
        'box-item-1 box-item-2'
        'box-item-3 box-item-4'
        'box-item-5 box-item-6';
    }
}

@include responsive_mobile_large {
    #section-5 .items-box {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 350px);
        grid-template-areas: 
        'box-item-1'
        'box-item-2'
        'box-item-3'
        'box-item-4'
        'box-item-5'
        'box-item-6';
    }
}