
#section-3 {
    text-align: center;

    .section-subtitle { color: #000; }

    .slider {
        ul {
            margin-bottom: 35px;
            li {
                display: inline;
                padding: 0 20px;
            }
        }
    }

    .split-buttons { 
        margin-top: 35px; 
    }
}

@include responsive_tablet {
    #section-3 {
        .slider ul li {
            display: block;
            padding: 20px 0;
        }
    }
}

@include responsive_mobile {
    #section-3 {
        .slider ul li img {
            width: 80%;
        }
    }
}