
// Colors
$color_primary: #14A8FE;
$color_secondary: #FFB001;
$color_background: #172228;
$color_lightgray: #EAEAEA;

$color_logo: #fff;
$color_navbar_link: #fff;
$color_navigation_background: transparent;
$color_header_background: rgba(#000000, 0.5);

// Paddings
$padding-content: 4rem 0;
$padding_navigation: 0 3rem;
$padding_logo: 30px 0;
$padding_navbar_item: 30px 0;
$padding_navbar_link: 10px 0;

// Margins
$margin_navbar_link: 0 15px;

// Hights
$height_header: 700px;

// Font-Sizes
$fontsize_navbar_link: 18px;
$fontsize_logo: 40px;
$fontsize_extralarge: 36px;
$fontsize_large: 36px;
$fontsize_medium: 28px;
$fontsize_normal: 18px;
$fontsize_small: 16px;