
.button, 
.button-outline,
.split-buttons a {
    @include easeOut;
    display: inline-block;
    color: #fff;
    background: $color_primary;
    font-family: 'lato_bold';
    font-size: 19px;
    line-height: 1;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 30px;
    border: 3px solid $color_primary;
    cursor: pointer;
}
.button-outline {
    color: $color_primary;
    background: transparent;
    border: 3px solid $color_primary;
}
.button-outline:hover {
    color: #fff;
    background: $color_primary;
}
.split-buttons {
    display: inline-block;
    padding: 0;
    a {
        transition: all 0.1s ease-in-out;
        color: $color_primary;
        background: transparent;
        border: 3px solid $color_primary;
        margin: 0;
    }
    a:hover {
        color: #fff;
        background: $color_primary;
    }
    a:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 1.5px solid $color_primary;
        margin-right: -2px;
    }
    a:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 1.5px solid $color_primary;
        margin-left: -2px;
    }
}

.split-button-alternative {
    display: none;
    margin: 35px 5px 0 5px;
}

@include responsive_mobile_large {
    .split-buttons { display: none; }
    .split-button-alternative { display: inline-block; }
}

@include responsive_mobile {
    .button, 
    .button-outline,
    .split-buttons a {
        font-size: 16px;
        padding: 15px 25px;
    }
}