
body {

    #navigation { grid-area: navigation; }
    #header { grid-area: header; }
    #section-1 { grid-area: section-1; }
    #section-2 { grid-area: section-2; }
    #section-3 { grid-area: section-3; }
    #section-4 { grid-area: section-4; }
    #section-5 { grid-area: section-5; }
    #section-6 { grid-area: section-6; }
    #section-7 { grid-area: section-7; }
    #footer { grid-area: footer; }

    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        'navigation'
        'header'
        'section-1'
        'section-2'
        'section-3'
        'section-4'
        'section-5'
        'section-6'
        'section-7'
        'footer';
        
}
