
#section-6 {

    background: url('../images/image5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;

    .section-title,
    .section-subtitle {
        color: #fff;
    }

    .container {
        background: $color_background;

        .items-box {

            .box-item-1 { grid-area: box-item-1 };
            .box-item-2 { grid-area: box-item-2 };

            display: grid;
            grid-gap: 0;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
            grid-template-areas: 
                'box-item-1 box-item-2';

            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #fff;
                padding: 0 80px;

                .text-medium { margin-bottom: 5px; }
                .subtitle { color: $color_primary; }
                p.description { margin: 40px 0!important; }
                ul li {
                    padding: 20px 0;
                    border-top: 0.5px solid rgba(#fff, 0.3);
                    span { color: $color_primary; }
                    &:last-child { border-bottom: 0.5px solid rgba(#fff, 0.3); }
                }
                .text-extralarge { margin-top: 30px; }
            }
            > div:first-child { border-right: 1px solid rgba(#fff, 0.3); }
            > div:last-child { border-left: 1px solid rgba(#fff, 0.3); }

        }
    }

}

@include responsive_tablet {
    #section-6 .container {
        padding-left: 0;
        padding-right: 0; 
    }
}

@include responsive_tablet_small {
    #section-6 .container {
        .items-box {
            grid-template-columns: 100%;
            grid-gap: 100px;
            grid-template-areas: 
            'box-item-1'
            'box-item-2';
            > div:first-child { border: none; }
            > div:last-child { border: none; }
        }
    }
}
