
#section-1 .container {

    .box-1 { grid-area: box-1; }
    .box-2 { grid-area: box-2; }

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'box-1 box-2';

    .box-1 {
        .section-subtitle { margin-bottom: 40px; }
        .text-regular { margin-bottom: 60px; }
    }

    .box-2 {
        .image { grid-area: image; }
        .title { grid-area: title; }
        .description { grid-area: description; }
        .facts { grid-area: facts; }
    
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 30% 70%;
        grid-template-areas: 
            'image title'
            'description description'
            'facts facts';
    
        .image img {
            width: 150px;
            border-radius: 50%;
        }
        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4 {
                font-size: 30px;
                margin-bottom: 10px;
            }
            p {
                font-size: 17px;
                color: $color_primary;
            }
        }
        .facts {
            p:first-child {
                font-family: 'lato_bold';
                font-size: 20px;
                margin-bottom: 25px;
            }
            ul {
                display: inline-block;
                overflow:hidden;
                columns: 2;
                column-gap: 50px;
                li {
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 15px;
                    i {
                        font-size: 16px;
                        color: $color_primary;
                        margin-right: 7px;
                    }
                }
            }
        }
    }
}

@include responsive_tablet {
    #section-1 .container {
        grid-template-columns: 100%;
        grid-template-areas: 
        'box-1'
        'box-2';
        .box-1 {
            text-align: center;
            .text-regular { margin-bottom: 30px; }
        }
        .box-2 {
            grid-template-columns: auto;
            grid-template-areas: 
                'image'
                'title'
                'description'
                'facts';
            text-align: center;
        }
    }
}

@include responsive_mobile_large {
    #section-1 .container {
        .box-2 .facts ul { columns: 1; }
    }
}