
.input {
    padding: 10px 15px;
    border: 1.5px solid $color_lightgray;
    margin-bottom: 8px;
    color: #000;
    font-family: 'lato_regular';
    font-size: 14px;
    ::placeholder { 
        font-family: 'lato_regular';
        color: $color_lightgray; 
        font-size: 14px;
    }
}
.input:focus {
    border: 1.5px solid $color_primary;
}