
@font-face {
    font-family: 'lato_regular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_bold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_black';
    src: url('../fonts/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body { font-family: 'lato_regular'; }

.text-extralarge {
    font-size: $fontsize_extralarge;
    font-family: 'lato_bold';
}
.text-large {
    font-size: $fontsize_large;
    font-family: 'lato_bold';
}
.text-medium {
    font-size: $fontsize_medium;
    font-family: 'lato_regular';
}
.text-regular {
    font-size: $fontsize_normal;
    font-family: 'lato_regular';
    line-height: 1.5;
}
.text-small {
    font-size: $fontsize_small;
    font-family: 'lato_regular';
    line-height: 1.4;
}